/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.site-layout {
    min-height: 100vh;
}

.site-layout .site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-layout .site-layout-content {
    padding: 16px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.site-layout .site-header .logo {
    margin: 0;
}

.monospace {
    font-family: 'monospace' 
}

.site-layout .site-layout-background {
  background: #fff;
}